body{
  padding-top: 100px;
}

div{
  width: 60%;
  margin: auto;
  height: 200px;
  background-color: white;
  text-align: center;
  font-size: 30px;
  border: 10px dashed white;
  border-radius: 20px;
}